.nav-container {
  display: flex;
  background-color: #1c2b35;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.nav-container a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  margin-left: 16px;
}
